<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SIMULADOR DE CONVENIO
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-item>
       <h3>SUMINISTRO: {{suminsitro}}</h3> 
       </ion-item>
    </ion-row>
  </ion-grid>
 
  <ion-item>
    <ion-label  >MONTO</ion-label>
    <ion-input type="number" [(ngModel)]="monto"  ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >CUOTA INICIAL</ion-label>
    <ion-input (input)="recalcularSaldo($event)" type="number" [(ngModel)]="cuotaInicial" required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >SALDO A FINANCIAR</ion-label>
    <ion-input type="number" [(ngModel)]="saldoFinanciar" readonly="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >NUM. CUOTAS</ion-label>
    <ion-input type="number" [(ngModel)]="numeroCuotas"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >MONT. CUOTA FIJA</ion-label>
    <ion-input type="number" [(ngModel)]="montoCantidadFija"></ion-input>
  </ion-item>
<ion-grid>
  <ion-row>
    <ion-col ></ion-col>
    <ion-col> <ion-button   shape="round" (click)="calcularSimulacion()">CALCULAR</ion-button> </ion-col>
    <ion-col> <ion-button   shape="round" (click)="limpiar()">LIMPIAR</ion-button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>
 
  <!-- <ion-card *ngIf="mostrarCardCalcular"> 
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col> NUM CUOTA </ion-col>
          <ion-col>PERIODO</ion-col>
          <ion-col >CAPITAL</ion-col>
          <ion-col>INTERES </ion-col>
          <ion-col >TOTAL CUOTA </ion-col>
        </ion-row>
        <ion-row *ngFor=" let lista of listaSimulacionDeuda; let index">
          <ion-col>{{lista.num_cuota}}</ion-col>
          <ion-col>{{lista.periodo}}</ion-col>
          <ion-col>{{lista.capital}}</ion-col>
          <ion-col>{{lista.intereses}}</ion-col>
          <ion-col>{{lista.total_cuota}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->
  
  <ion-card *ngIf="mostrarCardCalcular">
    <table class="w3-table">
      <tr>
        <th>N° CUOTA</th>
        <th>PERIODO</th>
        <th>CAPITAL</th>
        <th>INTERES</th>
        <th>TOTAL CUOTA</th>
      </tr>
      <tr *ngFor=" let lista of listaSimulacionDeuda; let index">
        <td>{{lista.num_cuota}}</td>
          <td>{{lista.periodo}}</td>
          <td>{{lista.capital}}</td>
          <td>{{lista.intereses}}</td>
          <td>{{lista.total_cuota}}</td>
      </tr>
    </table>
  </ion-card>
  
</ion-content>

