<ion-header>
  <ion-toolbar style="text-align: center;">
    <h5 color="dark"> {{tipoUsuario}} - {{provinciaUser}} - {{distritoUser}} </h5>
    <ion-note color="primary"> {{nombreUser}} - {{idUs}}</ion-note>
  </ion-toolbar>
</ion-header>
<!-- contenedor de morosos activo he inactivos  rolMorosos-->
<ion-content [fullscreen]="true" color="light" *ngIf="rolMorosos">
  <ion-item-group>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col ><ion-searchbar style="margin-top: 2%;" type="number" [debounce]="1000"
              (ionInput)="buscar($event)" placeholder="Digite suministro"
              [(ngModel)]="suministro"></ion-searchbar>
          </ion-col>
          <!-- <ion-col>
            <ion-fab style="margin-top: 10%;">
              <ion-fab-button size="small" (click)="scan()">
                <ion-icon name="qr-code"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col> -->
        </ion-row>
      </ion-grid>


    </ion-item>
    <ion-item>
      <ion-label class="labelDatos">Provincia</ion-label>
      <ion-textarea [readonly]="true" [(ngModel)]="provincia"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="labelDatos">Distrito</ion-label>
      <ion-textarea [readonly]="true" [(ngModel)]="distrito"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="labelDatos">Cod. Cat.</ion-label>
      <ion-textarea [readonly]="true" [(ngModel)]="codCatastral"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="labelDatos">Dirección</ion-label>
      <ion-textarea [readonly]="true" [(ngModel)]="direccion"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="labelDatos">Nombre</ion-label>
      <ion-textarea type="text" [readonly]="true" [(ngModel)]="nombre"></ion-textarea>
    </ion-item>



    <!-- aca para lectura de altos consumidores  -->
    <ion-item *ngIf="rolConsumo">
      <ion-label class="labelDatos">Categoría</ion-label>
      <ion-textarea type="number" [(ngModel)]="categoria" [readonly]="true"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="rolConsumo">
      <ion-label class="labelDatos">Fecha ultima lectura</ion-label>
      <ion-textarea type="number" [(ngModel)]="fechaUltimaLectura" [readonly]="true"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="rolConsumo">
      <ion-label class="labelDatos">Ultima Lectura</ion-label>
      <ion-textarea type="number" [(ngModel)]="ultimaLectura" [readonly]="true"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="rolConsumo">
      <ion-label class="labelDatos">Lectura</ion-label>
      <ion-input type="number" [(ngModel)]="lectura"></ion-input>
    </ion-item>

    <!-- actividad por qr  -->
    <ion-item *ngIf="ocultarSelectActividad">
      <ion-label class="labelDatos">Actividad </ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="selectedActividad" (ionChange)="onActividadSelect($event)">
        <ion-select-option [value]="selectedActividad">{{descActividad}}</ion-select-option>
      </ion-select>
    </ion-item>



    <!-- actividades del intervension 3 y 4 -->
    <ion-item *ngIf="!ocultarSelectActividad">
      <ion-label class="labelDatos">Actividades </ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="selectedActividad" (ionChange)="onActividadSelect($event)">
        <ion-select-option *ngFor="let actividad of listaActividades"
          [value]="actividad.id">{{actividad.descripcion}}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- estado de la visita  -->

    <ion-item *ngIf="!ocultarSelectActividad">
      <ion-label class="labelDatos">Estado de la visita </ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="selectedEstadoVisita" (ionChange)="onEstadoVisitaSelect($event)">
        <ion-select-option *ngFor="let estadoVisita of listaEstadosVisita"
          [value]="estadoVisita.id">{{estadoVisita.descripcion}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label class="labelDatos">N° notificación</ion-label>
      <ion-textarea type="number" [(ngModel)]="numNotificacion" inputmode="numeric"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="labelDatos">N° Compromiso pago</ion-label>
      <ion-textarea type="number" [(ngModel)]="numCompromiso" inputmode="numeric"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="labelDatos">N° de papeleta</ion-label>
      <ion-textarea type="number" [(ngModel)]="numPapeleta" inputmode="numeric"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="labelDatos">Observación</ion-label>
      <ion-textarea [autoGrow]="true" placeholder="Digite observación" [(ngModel)]="observacion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Mantener datos al guardar</ion-label>
      <ion-toggle [checked]="mantenerDatos" (ionChange)="togleMantenerDatos()"></ion-toggle>
    </ion-item>
  </ion-item-group>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-fab-button (click)="guardarActividad()">
          <ion-icon name="save-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col size="auto">
        <!-- boton de camara  -->
        <ion-fab-button (click)="addPhotoToGallery()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>

      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
      <ion-img [src]="photo.webviewPath"></ion-img>
      <ion-button  size="small" fill="clear" (click)="eliminarFoto(position)">Eliminar</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" *ngFor="let photo of images index as position">
      <ion-img [src]="photo"></ion-img>
      <ion-button  size="small" fill="clear" (click)="eliminarFoto(position)">Eliminar</ion-button>
    </ion-col>
  </ion-row>
  <!-- En tu archivo de plantilla HTML -->


  <!-- botones flotantes  -->

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="layers-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">

      <div>
        <span class="fab-cerrar">Cerar sesión</span>
        <ion-fab-button size="large">
          <ion-icon name="person-remove-outline" (click)="regresarToLogin()"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="separcion_btn_float">
        <span class="fab-limpiar">Limpiar</span>
        <ion-fab-button size="large">
          <ion-icon name="trash-outline" (click)="limpiar()"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="separcion_btn_float">
        <span class="fab-guardar">Guardar</span>
        <ion-fab-button size="large">
          <ion-icon name="save-outline" (click)="guardarActividad()"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="separcion_btn_float">
        <span class="fab-avance">Subir Foto</span>
        <ion-fab-button size="large" (click)="pickImages()">
          <ion-icon name="images-outline"></ion-icon>
        </ion-fab-button>
      </div>

    </ion-fab-list>
  </ion-fab>
  <!-- <div style="height: 300px;" id="mapId"></div> -->
</ion-content>
<!-- ficha catastral rolConsumo -->
<ion-content *ngIf="rolConsumo">
  <app-explore-container></app-explore-container>
</ion-content>