<ion-header>
  <ion-toolbar>
    <h5 color="dark" style="margin-left: 5%;"> {{tipoUsuario}} - {{provincia}} - {{distrito}} </h5>

    <ion-note color="primary" style="margin-left: 5%; "> {{nombreUser}} - {{idUs}}</ion-note> 
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" color="light" mode="ios">
  <ion-item-group>
 
  <ion-item>
    <ion-searchbar type="number" [debounce]="1000" (ionInput)="buscar($event)"
      placeholder="Digite suministro"></ion-searchbar>
  </ion-item>
  <ion-item>
    <ion-label class="labelDatos">Provincia</ion-label>
    <ion-textarea [readonly]="true"  [(ngModel)]="provincia"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label class="labelDatos">Distrito</ion-label>
    <ion-textarea [readonly]="true"  [(ngModel)]="distrito"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label class="labelDatos">Catastro</ion-label>
    <ion-textarea [readonly]="true"  [(ngModel)]="codCatastral"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label class="labelDatos">Dirección</ion-label>
    <ion-textarea [readonly]="true"  [(ngModel)]="direccion"></ion-textarea>
  </ion-item>
    <ion-item>
      <ion-label class="labelDatos" >Nombre</ion-label>
      <ion-input type="text" [readonly]="true" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      
      <ion-select label="Actividades"  interface="action-sheet"
      [(ngModel)]="selectedActividad"  (ionChange)="onActividadSelect($event)"  >
        <!-- <ion-select-option value="">Ninguno</ion-select-option> -->
        <ion-select-option  *ngFor="let actividad of listaActividades" [value]="actividad.idActividad">{{actividad.descripcion}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label class="labelDatos" >Observación</ion-label>
      <ion-textarea [autoGrow]="true" placeholder="Digite observación"
        [(ngModel)]="observacion" ></ion-textarea>
    </ion-item>
    <!--<ion-item>
    <ion-label>Lectura</ion-label>
    <ion-input type="number" [(ngModel)]="lectura" [disabled]="isLecturaDisabled"></ion-input>
  </ion-item>-->
  </ion-item-group>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="auto">

        <ion-fab-button (click)="addPhotoToGallery()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>

      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
      <ion-img [src]="photo.webviewPath"></ion-img>
    </ion-col>
  </ion-row>
  <!--<ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
    <ion-img [src]="photo.webviewPath"></ion-img>
  </ion-col>-->

  <!--<ion-list>
    <ion-item>Latitud: {{latitud}}</ion-item>
    <ion-item>Longitud: {{longitud}}</ion-item>
  </ion-list>-->

  <!--<div class="ion-text-center">
  <ion-col><ion-button (click)="criticarLectura()" > Grabar</ion-button></ion-col>
      <ion-col><ion-button (click)="limpiar()">  Limpiar </ion-button></ion-col>
      <ion-col><ion-button (click)="verfotos()">  verFotos </ion-button></ion-col>
</div>-->

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="layers-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      
      <div>
        <span class="fab-cerrar">Cerar sesión</span>
        <ion-fab-button size="small">
          <ion-icon name="person-remove-outline" (click)="regresarToLogin()"></ion-icon>
        </ion-fab-button>
      </div>
      <div>
        <span class="fab-limpiar">Limpiar</span>
        <ion-fab-button size="small">
          <ion-icon name="trash-outline" (click)="limpiar()"></ion-icon>
        </ion-fab-button>
      </div>
      <div>
        <span class="fab-guardar">Guardar</span>
      <ion-fab-button size="small">
        <ion-icon name="save-outline" (click)="guardarMorososActivos()"></ion-icon>
      </ion-fab-button>
    </div>
    <div>
      <span class="fab-avance">Avance</span>
    <ion-fab-button size="small" (click)="avanceNotificacion()">
      <ion-icon name="document-text-outline"></ion-icon>
    </ion-fab-button>
  </div>
    
    </ion-fab-list>
  </ion-fab>
 
</ion-content>