<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item class="item-tolbar" lines="none">  
    <ion-button (click)="regresarTologin()" fill="clear"><ion-icon slot="icon-only" name="arrow-back-outline" ></ion-icon></ion-button>
    <ion-title > <ion-note color="primary">{{nombreUser}}-{{idUs}}</ion-note> </ion-title> 
  </ion-item>  
  </ion-toolbar>
</ion-header>
<ion-tabs>

 <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab5">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Tab 5</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab6">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>Tab 6</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab7">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Tab 7</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
