.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-bottom: 20px;
  }
  
  .logo-container img {
    max-width: 80%;
    max-height: 100%;
  }
  
  #map { height: 180px; }