.multiline-label{
  white-space: pre-wrap;
}

.header-list {
  position: sticky;
  top: 0;
  z-index: 500;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil */
  border-bottom: 1px solid #ddd; /* Agrega un borde inferior */
}



.list-wrapper {
  overflow-x: auto;
  white-space: nowrap;
}
.saltoLine {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.anuncio {
  width: 400px;
  height: 100px;
  background: lightblue;
  display:block
}

.boton {
  float: right;
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
