<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">  
    <ion-button  (click)="regresar()" fill="clear"><ion-icon slot="icon-only" name="arrow-back-outline" ></ion-icon></ion-button>
    <ion-title ><ion-note color="primary"> {{nombreUser}}-{{idUs}}</ion-note> </ion-title>
  </ion-item>  
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="light">
  <br>
<ion-searchbar [debounce]="1000"  (ionInput)="buscadorListaAvances($event)"  ></ion-searchbar>

  <ion-list  [inset]="true" >
    <ion-item-sliding  *ngFor="let listaAvance of results ; let index">
    <ion-item lines="none" >
      <ion-label>
        <h1>Suministro: {{ listaAvance.numInscripcion }}</h1>
        <p>Fecha:{{ listaAvance.fecha }}<p>
        <p>Nombre:{{ listaAvance.nombreCompleto }}<p></p> 
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="danger">Delete</ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingText="Cargando más elementos..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
